<h1>Welcome to PopcornTime!</h1>
<p>This is our homepage to our new movies fourm website.<p>
<p>PopcornTime is a website where people can come and talk to other people about movies they have seen recently.<p>
<p>Find me in app/views/welcome/homepage.html.erb</p>
