<h1>Welcome to PretzelTime!</h1>
<p>This is our homepage to our new movies forum website.<p>
<p>PretzelTime is a website where people can come and talk to other people about movies they have seen recently.<p>
<p>Find me in app/views/welcome/homepage.html.erb</p>
