<p id="notice"><%= notice %></p>

<h1>Posts</h1>

<% @posts.each do |post| %>
  <div class="post_wrapper">
    <h4 class = "title"><%= link_to post.title, post %></h4>
  </div>
<% end %>

<% if user_signed_in? %>
  <div class = "buttons">
    <button class = "button"><%= link_to 'New Post', new_post_path %></button>
  </div>
<% end %>